.app {
  width: 1268px;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  margin: 0 auto;

  &__header {
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 850px) {
      flex-direction: column;
      align-items: center;
    }

    @media screen and (max-width: 640px) {
      padding: 15px 20px;
    }
  }

  &__logo {
    @media screen and (max-width: 850px) {
      text-align: center;
    }

    div {
      &:first-child {
        font-size: 36px;
        font-weight: bold;
      }
    }
  }

  &__nav {
    display: flex;

    @media screen and (max-width: 850px) {
      margin-top: 20px;
    }

    @media screen and (max-width: 640px) {
      display: none;
    }

    a {
      margin-left: 25px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__section {
    padding: 30px 40px;

    @media screen and (max-width: 640px) {
      padding: 15px 20px;
    }
  }

  &__footer {
    background-color: #F8F8F8;
    padding: 10px 40px;
    font-size: 12px;
    text-align: right;
  }
}
